node_modules
.env
.env.backup
.env.production
*.local

# Logs
logs
*.log

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.pem

# Extension
/extension/dist
/extension/config.json

# Server
/server/.phpunit.cache
/server/app/Console/Commands/Test.php
/server/public/build
/server/public/hot
/server/public/storage
/server/public/google*
/server/storage/*.key
/server/storage/pail
/server/vendor
/server/.vagrant
/server/.phpactor.json
/server/.phpunit.result.cache
/server/auth.json