:root {
  --mt-inter: "Inter", sans-serif;
  --mt-background: hsl(0, 0%, 9%);
  --mt-background-foreground: hsl(0, 0%, 100%);
  --mt-primary: hsl(0, 0%, 100%);
  --mt-primary-foreground: hsl(0, 0%, 0%);
  --mt-secondary: hsl(0, 0%, 12%);
  --mt-destructive: hsl(347, 100%, 50%);
  --mt-yellow: hsl(45, 93%, 47%);
  --mt-orange: hsl(24.6 95% 53.1%);
  --mt-border: hsla(0, 0%, 100%, 0.1);
  --mt-muted: hsl(0, 0%, 45%);
  --mt-grean: hsl(85, 71%, 47%);
  --mt-purple: hsl(271.5 81.3% 55.9%);

  --mt-text-xs: 0.75rem;
  --mt-text-sm: 0.875rem;
  --mt-text-xl: 1.25rem;

  --mt-player-blur-light: 1rem;
  --mt-player-blur-base: 2rem;
  --mt-player-blur-strong: 3rem;
  --mt-player-blur-max: 5rem;
}

.mt-no-scroll {
  overflow: hidden !important;
}

.mt-hidden {
  visibility: hidden;
}
.mt-hr {
  width: 100%;
  height: 1px;
  border: none;
  border-top: 1px solid var(--mt-border);
  background: transparent;
}

/*********************** scrollbar ***********************/
.mt-scrollbar {
  overflow: auto;
}

.mt-scrollbar::-webkit-scrollbar-button {
  background-repeat: no-repeat;
  height: 0;
}

.mt-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.mt-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--mt-primary);
}

.mt-scrollbar::-webkit-scrollbar {
  width: 0.4375rem;
  height: 0.4375rem;
}
/*********************** control-bar ***********************/
.mt-control-bar {
  font-family: var("mt-inter");
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.75rem;
}

.mt-container {
  padding: 0.5rem;
  border-radius: 16rem;
  background-color: var(--mt-background);
  border: 1px solid var(--mt-border);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: width 0.3s ease-in-out;
}

.mt-disabled {
  opacity: 0.5;
  pointer-events: none;
}

/*********************** status ***********************/

.mt-status {
  margin-left: 0.75rem;
  margin-right: 0.5rem;
}

.mt-status.mt-active,
.mt-status.mt-inactive {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 0.5rem;
}
.mt-status.mt-active {
  background-color: var(--mt-grean);
  box-shadow: 0px 0px 7px 1px var(--mt-grean);
}

.mt-status.mt-inactive {
  background-color: var(--mt-destructive);
  box-shadow: 0px 0px 7px 1px var(--mt-destructive);
  animation: blink 1s infinite alternate;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.mt-status.mt-loader {
  width: 1.3rem;
  height: 1.3rem;
  border: 0.1875rem solid var(--mt-primary);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*********************** button ***********************/

.mt-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  transition: 0.3s;
  border-radius: 1rem;
  gap: 0.25rem;
  height: 2rem;
  font-size: 0.8rem;
  font-weight: 600;
}

.mt-button:not(.mt-icon) svg {
  width: 0.8rem;
  height: 0.8rem;
}
.mt-button.mt-icon svg {
  width: 1.25rem;
  height: 1.25rem;
}

.mt-button.mt-icon {
  width: 2rem;
}

.mt-button.mt-primary,
.mt-button.mt-outline {
  padding-inline: 0.8rem;
}
.mt-button.mt-primary {
  color: var(--mt-primary-foreground);
  background-color: var(--mt-primary);
}

.mt-button.mt-primary:not(.mt-disabled):hover {
  background-color: oklch(1 0 0 / 0.8);
}

.mt-button.mt-outline {
  box-sizing: border-box;
  border: 1px solid oklch(1 0 0 / 0.08);
  background-color: var(--mt-secondary);
}

.mt-dialog .mt-select .mt-select-itmes:hover,
.mt-button.mt-outline:not(.mt-disabled):hover {
  border: 1px solid oklch(1 0 0 / 0.1);
}
.mt-dialog .mt-select .mt-select-itmes:hover,
.mt-button.mt-outline:not(.mt-disabled):hover,
.mt-button.mt-icon:not(.mt-disabled):hover {
  background-color: oklch(0.3 0 0);
  color: oklch(0.91 0 0);
}

/*********************** dialog ***********************/

.mt-dialog {
  position: fixed;
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: #0000008a;
  backdrop-filter: blur(10px);
}

.mt-dialog .mt-buttons {
  display: flex;
  justify-content: end;
  gap: 0.75rem;
}

.mt-dialog .mt-dialog-container {
  margin: 1rem;
  max-height: calc(100vh - 2rem);
  border-radius: 1.25rem;
  background-color: var(--mt-background);
  border: 1px solid var(--mt-border);
  overflow: hidden;
}

/*********************** dialog question ***********************/

.mt-dialog .mt-dialog-container.mt-dialog-question {
  padding: 1.5rem;
  width: 100%;
  max-width: 30rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.mt-dialog-question .mt-title {
  font-size: var(--mt-text-xl);
  font-weight: 700;
}

.mt-dialog-question .mt-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
}

.mt-dialog-question .mt-buttons {
  margin-top: 0.5rem;
}
/*********************** dialog movie ***********************/

.mt-dialog .mt-dialog-container.mt-dialog-movie {
  position: relative;
  display: grid;
  grid-template-columns: auto minmax(15rem, 20rem);
  align-items: flex-start;
}

.mt-dialog-movie .mt-poster {
  width: 100%;
  height: 100%;
  max-width: 12.5rem;
  object-fit: cover;
  object-position: 50% 50%;
  border-left: 1px solid var(--mt-border);
  pointer-events: none;
  user-select: none;
}

.mt-dialog-movie .mt-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem 1.5rem 1rem 1.5rem;
  width: 100%;
  height: 100%;
}

.mt-dialog-movie .mt-details {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-bottom: 1rem;
}

.mt-dialog-movie .mt-details .mt-title {
  font-size: var(--mt-text-xl);
  font-weight: 700;
}

.mt-dialog-movie .mt-details .mt-origin-title {
  color: var(--mt-muted);
  font-size: var(--mt-text-xs);
  font-weight: 500;
  margin-top: 0.4rem;
}

.mt-dialog-movie .mt-label {
  color: oklch(0.91 0 0);
  font-size: 0.7rem;
  font-weight: 600;
  margin-bottom: 0.6rem;
}

/*********************** dialog select ***********************/

.mt-dialog .mt-select {
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
  max-height: 11.1rem;
}

.mt-dialog .mt-select::-webkit-scrollbar {
  width: 0.25rem;
}

.mt-dialog .mt-select::-webkit-scrollbar-track {
  background-color: transparent;
}

.mt-dialog .mt-select::-webkit-scrollbar-thumb {
  background-color: var(--mt-primary);
  border-radius: 0.15rem;
}

.mt-dialog .mt-select .mt-select-itmes,
.mt-dialog .mt-select .mt-select-itmes svg {
  transition: 0.3s;
}
.mt-dialog .mt-select .mt-select-itmes {
  background-color: var(--mt-secondary);
  border: 1px solid oklch(1 0 0 / 0.08);
  border-radius: 0.56rem;
  max-height: 1.8rem;
  min-height: 1.8rem;
  gap: 1rem;
  padding-inline: 0.5rem;
  font-size: 0.8rem;
  font-weight: 500;
  justify-content: space-between;
  user-select: none;
  cursor: pointer;
}
.mt-dialog .mt-select .mt-select-itmes,
.mt-dialog .mt-select .mt-select-itmes > div {
  display: flex;
  align-items: center;
}

.mt-dialog .mt-select .mt-select-itmes .mt-select-itme-left {
  justify-content: start;
  gap: 0.5rem;
}

.mt-dialog .mt-select .mt-select-itmes .mt-select-itme-right {
  justify-content: right;
  gap: 0.28rem;
  font-size: 0.66rem;
  font-weight: 600;
}

.mt-dialog .mt-select .mt-select-itmes .mt-select-itme-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 9.5rem;
}

.mt-dialog .mt-select .mt-select-itmes .mt-select-itme-separator {
  font-size: 0.4rem;
  font-weight: 700;
  color: oklch(1 0 0 / 0.24);
  pointer-events: none;
  user-select: none;
}

/*********************** dialog movie check ***********************/

.mt-dialog-mc {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 15rem;
  max-width: 35rem;
}

.mt-dialog-mc .mt-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mt-dialog-mc .mt-dialog-title {
  font-size: var(--mt-text-xl);
  font-weight: 700;
  padding: 1.5rem 1.5rem 1rem 1.5rem;
}

.mt-dialog-mc .mt-dialog-x {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  z-index: 50;
  cursor: pointer;
  transition: 0.3s ease;
}

.mt-dialog-mc .mt-dialog-x:hover {
  opacity: 0.6;
}

.mt-dialog-mc .mt-search-list {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0 1rem 1.5rem 1rem;
}

.mt-dialog-mc .mt-movie-item {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  border-radius: 0.375rem;
}

.mt-dialog-mc .mt-search-list .mt-movie-item {
  padding: 0.5rem;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s ease;
}

.mt-dialog-mc .mt-search-list .mt-movie-item:hover {
  background-color: var(--mt-secondary);
}

.mt-dialog-mc .mt-search-list .mt-movie-item .mt-poster {
  width: 3rem;
}

.mt-dialog-mc .mt-movie-header.mt-movie-item .mt-poster {
  width: 4rem;
}

.mt-dialog-mc .mt-movie-item .mt-poster {
  border-radius: 0.375rem;
  pointer-events: none;
}

.mt-dialog-mc .mt-movie-item .mt-info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.mt-dialog-mc .mt-search-list .mt-movie-item .mt-title {
  font-size: var(--mt-text-sm);
}
.mt-dialog-mc .mt-movie-header.mt-movie-item .mt-title {
  font-size: 1.25rem;
}

.mt-dialog-mc .mt-movie-item .mt-title {
  font-weight: 600;
}

.mt-dialog-mc .mt-movie-item .mt-year {
  font-size: var(--mt-text-xs);
  color: var(--mt-muted);
}

.mt-dialog-mc .mt-movie-item .mt-sub-title {
  font-size: var(--mt-text-sm);
  font-weight: 500;
  color: var(--mt-muted);
}

.mt-dialog-mc .mt-movie-header {
  padding: 1.5rem 1.5rem 1rem 1.5rem;
}

.mt-dialog-mc .mt-check {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0rem 1.5rem 1.5rem 1.5rem;
}

.mt-dialog-mc .mt-check .mt-info-title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0.8rem;
}

.mt-dialog-mc .mt-check .mt-info-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 1rem;
  row-gap: 0.5rem;
  font-size: var(--mt-text-sm);
  font-weight: 400;
  line-height: 1.5;
}

.mt-dialog-mc .mt-check .mt-info-grid > div:nth-child(2n + 1) {
  max-width: 10.5rem;
}

.mt-dialog-mc .mt-check .mt-border-t {
  border-top: 1px solid var(--mt-border);
  padding-top: 1rem;
}

.mt-dialog-mc .mt-check .mt-info-grid a {
  font-weight: 400;
  color: var(--mt-background-foreground);
  text-decoration: none;
  transition: 0.3s ease;
}

.mt-dialog-mc .mt-check .mt-info-grid a:hover {
  opacity: 0.7;
}

/*********************** loading ***********************/

.loading-spinner {
  position: absolute;
  inset: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: auto;
  overflow: hidden;
  padding: 4rem 0;
}
.loading-spinner.bg-dark {
  background-color: #0a0c0dba;
}

.loading-spinner svg {
  width: 4.5rem;
  height: 4.5rem;
  animation: rotation 1s linear infinite;
  fill: white;
}

/*********************** player blur ***********************/
.mt-player-blur-light {
  -webkit-filter: blur(var(--mt-player-blur-light)) !important;
  filter: blur(var(--mt-player-blur-light)) !important;
}

.mt-player-blur-base {
  -webkit-filter: blur(var(--mt-player-blur-base)) !important;
  filter: blur(var(--mt-player-blur-base)) !important;
}

.mt-player-blur-strong {
  -webkit-filter: blur(var(--mt-player-blur-strong)) !important;
  filter: blur(var(--mt-player-blur-strong)) !important;
}

.mt-player-blur-max {
  -webkit-filter: blur(var(--mt-player-blur-max)) !important;
  filter: blur(var(--mt-player-blur-max)) !important;
}

/*********************** opacity ***********************/
.mt-opacity-0 {
  opacity: 0;
}

/*********************** tooltip ***********************/

[data-mt-tooltip] {
  position: relative;
  cursor: pointer;
}

[data-mt-tooltip]:hover::after {
  visibility: visible;
  opacity: 1;
}

[data-mt-tooltip]::after {
  content: attr(data-mt-tooltip);
  visibility: hidden;
  opacity: 0;
  backdrop-filter: blur(15px);
  background-color: hsl(0deg 0% 12% / 27%);
  border: 1px solid hsl(0deg 0% 100% / 9%);
  color: var(--mt-background-foreground);
  text-align: center;
  border-radius: 0.75rem;
  padding: 0.2rem 0.5rem;
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  font-family: var("mt-inter");
  font-size: var(--mt-text-xs);
  font-weight: 400;
  white-space: nowrap;
  z-index: 1;
  transition: opacity 0.3s ease;
  pointer-events: none;
}
